.image__background {
    z-index: 99999 !important;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(248, 106, 106, 0.5)),
        url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden !important;
}

.login_Card {
    opacity: 0.9;
    background: linear-gradient(rgb(160, 180, 241), rgba(44, 235, 241, 0.2));
    font-weight: 600;
    overflow-x: hidden;

}

.bg-image{
    overflow: hidden !important;
}